.dropdown {
	position: absolute;
	background-color: white;
	bottom: 10px;
	left: 50px;
	width: 150px;
	padding: 12px 0;
	animation: fadeIn 400ms both;
}

@keyframes fadeIn {
	0% {
		bottom: -150px;
	}

	100% {
		bottom: 10px;
	}
}

.item {
	margin: 0;
	cursor: pointer;
	list-style: none;
	font-size: 0.8rem;
	display: block;
	color: #666;
	overflow: hidden;
	padding: 8px 10px 8px 5px;
}

.item:hover {
	color: white;
	background-color: #3f9f94;
}

.h {
	padding-top: 1px;
	border-bottom: 1px solid #ddd;
	margin: 5px 0;
	text-overflow: ellipsis;
}
