.header {
	display: flex;
	position: fixed;
	z-index: 300;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	flex-direction: column;
	flex-flow: nowrap;
	width: 50px;
	height: 100%;
	background-color: #292f33;
}

.top {
	width: 100%;
	text-align: center;
}

.button {
	display: block;
	width: 80%;
	height: 45px;
	margin: 0 auto;
}

.header svg {
	fill: gray;
}

.button {
	display: block;
	width: 80%;
	height: 45px;
	margin: 0 auto;
}

.bottom {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 20px;
}

.bottom svg {
	margin: 0 auto;
	width: 75%;
}
