.wrap {
	composes: center from '../style.css';
	composes: fullSize from '../style.css';

	position: fixed;
	align-content: center;
	background: rgba(17,17,17,0.6);
	top: 0;
	left: 0;
	margin: 0;
	z-index: 900;
}

.modal {
	position: relative;
	background: #ebebeb;
	max-width: 70%;
	max-height: 70%;
	width: 600px;
	height: 600px;
	overflow-y: hidden;
	box-shadow: 0 0 10px rgba(17,17,17,0.5);
	border-radius: 3px;
	animation: fadeIn .2s ease-out .1s both;
	& svg {
		fill: #5b5b5b;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		margin-top: -1000px;
	}
	20% {
		opacity: 100;
	}
	100% {
		margin-top: 0;
	}
}
