.wrap {
	position: relative;
	max-width: 100%;
	margin-top: 2rem;
	margin-left: 3rem;
	margin-right: 3rem;
}

.input {
	font-size: 1.1rem;
	height: 34px;
	width: calc(100% - 2.5rem);
	border: 0;
	margin-top: 10px;
	border-radius: 3px;
	padding-left: 2.5rem;
	box-sizing: border-box;
}

.field {
	position: relative;
	max-width: 400px;
	margin-bottom: 2rem;

	& svg {
		position: absolute;
		top: 1rem;
		left: 0.5rem;
		width: 1.5rem;
		height: 1.5rem;
	}
}
