.list {
	display: flex;
	flex-wrap: wrap;
	background-color: #eaeaea;
	text-align: center;
	color: #666;
	list-style: none;
	margin: 0 0 1rem;
}

.list li {
	margin: 0.2rem 1rem;
	display: inline-flex;
	line-height: 2rem;
	border: 1px solid #ccd6dd;
	padding-top: 0.5rem;
	text-align: center;
	cursor: pointer;
	width: 200px;
	overflow: hidden;
	height: 2rem;
}

.list li:hover {
	background: rgba(24, 24, 24, 0.9);
	color: white;
	border: 1px solid white;
}

.list li a {
	font-size: 1rem;
	min-width: 200px;
	height: 30px;
}

.wrap {
	height: calc(100% - 1rem);
	padding: 1rem;
	overflow-y: scroll;
}

.wrap header h4 {
	font-size: 1.2rem;
	font-weight: normal;
	display: inline;
	border-bottom: 1px solid #424242;
}

.kind {
	display: inline-block;
	font-size: 1.1rem;
	color: #3b3838;
	margin-top: 0.7rem;
	margin-left: 2rem;
	margin-bottom: 0.5rem;
}
