.tabList {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	overflow: hidden;
	color: #fff;
	background-color: rgb(54, 75, 78);
}

.tabList [role=tab] {
	border: none;
	bottom: 0;
}

.tabListActive {
	margin: 0;
}

.tabLink {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 10px 0;
	color: white;
	font-size: 14px;
}

.tabLinkActive {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 8px 0 10px;
	color: white;
	font-size: 14px;
	border-bottom: 3px solid #b94545;
}
