.wrap {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	color: #eee;
	width: 100%;
}

.popovarRetracted {
	max-height: 0;
	display: flex;
	overflow: auto;
	margin: 0;
	padding: 0 10px;
	transition: max-height, 0.4s, 0ms, ease-in;
}

.popovar {
	max-height: 400px;
	display: flex;
	background: #323334;
	overflow: auto;
	margin: 0;
	padding: 0 10px;
	transition: max-height, 0.6s, 0ms, ease-out;
}
