.wrap {
	width: 100%;
}

.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	z-index: 200;
	text-align: center;
	color: #e1e8ed;
	background: #292f33;
	width: 100%;
	padding: 0 10px;
}

.base {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.loading {
	display: flex;
	justify-content: center;
	background: #4a4a4a;
	height: 100%;
}
