.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	z-index: 200;
	text-align: center;
	color: #e1e8ed;
	background: #292f33;
	width: 100%;
}

.title {
	color: #e1e8ed;
	font-size: 1.2rem;
}
