.wrap {
	width: 100%;
}

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	z-index: 200;
	text-align: center;
	color: #e1e8ed;
	background: #292f33;
	width: 100%;
}

.base {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.content {
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100% - 50px);
}

.title {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 50%;
	margin: -0.6rem;
	text-align: center;
	font-size: 1.2rem;
	display: block;
}

.loading {
	display: flex;
	justify-content: center;
	height: 100%;
}

.loading svg {
	margin-top: 40%;
	width: 30px;
	height: 40px;
}

.loading svg {
	fill: #2c8a6b;
}
