.wrap {
	box-sizing: border-box;
	background: white;
}

.result {
	padding-top: 4px;
}

.title {
	background-color: #e7e7e7;
	font-size: 0.8rem;
	padding: 0 12px;
	color: #8f8f8f;
	margin: -4px 0 0;
	border: 0;
}

.item {
	height: 45px;
	padding: 0 12px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.item:hover {
	background-color: rgb(230, 239, 247);
}
