{
  "presets": [
    [
      "env",
      {
        "targets": { "node": 10 },
        "useBuiltIns": true,
      },
    ],
    "react",
    "flow"
  ],
  "plugins": [
    [
      "react-intl-auto",
      {
        "removePrefix": "app/",
      },
    ],
    "add-module-exports",
    "transform-class-properties",
    "transform-object-rest-spread",
  ],
  "env": {
    "production": {
      "plugins": ["babel-plugin-dev-expression"],
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel",
      ],
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"],
    },
  },
}
