{
	"presets": ["es2015", "stage-1", "react"],
	"plugins": [
		"add-module-exports"
	],
	"env": {
		"production": {
			"presets": ["react-optimize"],
			"plugins": [
				"babel-plugin-dev-expression"
			]
		},
		"development": {
			"presets": ["react-hmre"]
		},
		"test": {
			"plugins": [
				"transform-es2015-modules-commonjs"
			]
		}
	}
}
