{
  "extends": [
    "precure"
  ],
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/core-modules": [
      "electron",
      "atom"
    ]
  },
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/named": 0,
    "no-constant-condition": 0,
    "flowtype/no-types-missing-file-annotation": 0,
    "flowtype/require-parameter-type": 0,
  }
}
