dist: trusty
sudo: false

language: c

matrix:
  allow_failures:
    - os: osx
  include:
    - os: osx
      osx_image: xcode7.3
    - os: linux
      env: CC=clang CXX=clang++ npm_config_clang=1
      compiler: clang

cache:
  yarn: true
  directories:
  - node_modules
  - $HOME/.electron
  - $HOME/.cache

addons:
  apt:
    packages:
      - libgnome-keyring-dev
      - libsecret-1-dev
      - icnsutils
      - graphicsmagick
      - xz-utils
      - rpm

before_install:
  - curl -o- -L yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"

install:
- nvm install 8.6
- yarn
# - npm install
# - yarn add electron-builder@next --dev # force install next version to test electron-builder

script:
- npm run test

deploy:
  provider: script
  script: npm run release
  skip_cleanup: true
  on:
    tags: true
    all_branches: true

notifications:
  email: false
