.base {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	background: rgba(244, 244, 244, 0.97);
	z-index: 300;
	width: 100%;
	height: 100%;

	& img {
		width: auto;
		height: auto;
		max-width: 100vw;
		max-height: 100vh;
		margin: auto;
		user-select: none;
		opacity: 0;
		cursor: zoom-out;
	}
}

.loaded {
	animation: fade-in 500ms both;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
