.base {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	background: rgba(244, 244, 244, 0.97);
	z-index: 300;
	width: 100%;
	height: 100%;

	& img {
		max-width: 100vw;
		max-height: 100vh;
		margin: auto;
		user-select: none;
		cursor: zoom-out;
	}
}

.from {
	width: auto;
	height: auto;
	/*filter: blur(10px);*/
}

.loaded {
	width: auto;
	height: auto;
	animation: fade-in 600ms both;
}

@keyframes fade-in {
	0% {
		filter: blur(1px);
	}
	100% {
		filter: none;
	}
}
