.from {
	width: auto;
	height: auto;
	max-width: 100vw;
	max-height: 100vh;
	margin: auto;
	user-select: none;
	cursor: zoom-out;
}

.loaded {
	width: auto;
	height: auto;
	max-width: 100vw;
	max-height: 100vh;
	margin: auto;
	user-select: none;
	cursor: zoom-out;
	animation: fade-in 600ms both;
}

@keyframes fade-in {
	0% {
		filter: blur(1px);
	}
	100% {
		filter: none;
	}
}
