.wrap {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: auto;
	text-align: center;
}

.from {
	width: auto;
	height: auto;
	max-width: 100vw;
	max-height: 100vh;
	margin: auto;
	user-select: none;

	cursor: wait;
}

.loaded {
	width: auto;
	height: auto;
	max-width: 100vw;
	max-height: 100vh;
	margin: auto;
	user-select: none;

	cursor: zoom-in;
	animation: fade-in 600ms forwards;
}

.isClick {
	margin: auto;
	user-select: none;

	max-width: none;
	max-height: none;
	cursor: zoom-out;
}

@keyframes fade-in {
	0% {
		filter: blur(1px);
	}
	100% {
		filter: none;
	}
}
