.base {
	position: relative;
	width: 100%;
	min-height: 20px;
	text-align: center;
	cursor: zoom-in;
	overflow: hidden;
	border-radius: 3px;
}

.base svg {
	position: absolute;
	width: 25px;
	height: 25px;
	padding: 2px;
	fill: white;
	background-color: rgba(180, 180, 180, 0.5);
	border-radius: 4px;
	margin-top: 5px;
	margin-left: 5px;
	z-index: 100;
}

.base img {
	max-width: 100%;
	max-height: 100%;
	min-height: 100px;
	background: #eeffee;
	margin: -10px;
	overflow: hidden;
}

.loaded {
	animation: fade-in 0.3s both;
}

@keyframes fade-in {
	0% {
		filter: blur(10px);
		margin: -10px;
		opacity: 0;
	}
	100% {
		filter: blur(0);
		margin: 0;
		opacity: 1;
	}
}
