.base {
	display: flex;
	width: 100%;
	height: 100%;
}

.wrap {
	width: calc(100% - 56px);
}

.title {
	width: calc(100% - 20px);
	padding-top: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	font-size: 1.09rem;
	margin: 0;
}

.profile-area {
	display: inline-flex;
	margin-top: 0.5rem;
	white-space: nowrap;
	word-wrap: break-word;
	overflow: hidden;
	margin-top: 2px;
	margin-bottom: 10px;
}

.profile-area p {
	margin: 0;
}

.name {
	font-size: 1rem;
	margin-left: 0.5rem;
	margin-right: 5px;
}

.account {
	line-height: 1;
	font-size: 0.85rem;
	color: darkgray;
}

.body {
	width: calc(100% - 10px);
	font-size: 0.9rem;
	color: #444444;
	margin-bottom: 10px;
	padding: 0 5px;
}
