.base {
	position: relative;
	width: 100%;
	text-align: center;
	cursor: zoom-in;
}

.base svg {
	position: absolute;
	width: 25px;
	height: 25px;
	padding: 2px;
	fill: white;
	background-color: rgba(180, 180, 180, 0.5);
	border-radius: 4px;
	margin-top: 5px;
	margin-left: 5px;
}
