.wrap {
	max-width: 100%;
	margin-top: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.wrap a {
	text-decoration: none;
}

.input {
	font-size: 1.1rem;
	height: 30px;
	width: calc(100% - 2.5rem);
	margin-top: 10px;
	border-radius: 3px;
	padding-left: 2.5rem;
	border: 0;
}

.tagFilter {
	margin-top: 2rem;
	max-width: 450px;
}

.field {
	position: relative;
	width: 100%;
	max-width: 400px;
	margin-bottom: 2rem;
}

.field svg {
	position: absolute;
	top: 1rem;
	left: 0.5rem;
	width: 1.5rem;
	height: 1.5rem;
}
