.base {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	flex-direction: column;
	background: rgba(244, 244, 244, 0.97);
	overflow-y: scroll;
	z-index: 300;
	width: 100%;
	height: 100%;

	& img {
		width: auto;
		height: auto;
		margin: auto;
		user-select: none;
		cursor: zoom-out;
	}
}

.item {
	widows: 100%;
	height: 100%;
}
