.base {
	width: 100%;
	height: 100%;
	color: #e1e8ed;
	display: flex;
}

.wrap {
	position: relative;
	width: calc(100% - 56px);
}

.title {
	color: #e1e8ed;
	width: calc(100% - 20px);
	padding: 5px 0 2px 5px;
	font-size: 1rem;
	margin: 0;
}
