.Profile {
	display: inline-flex;
	margin-top: 2px;
	white-space: nowrap;
	word-wrap: break-word;
	overflow: hidden;
	margin-bottom: 10px;
	cursor: pointer;
}

.profileAreaLine {
	margin: 0;
}

.name {
	color: #e1e8ed;
	margin-left: 0.5rem;
	margin-right: 5px;
}

.name:hover {
	color: #7af;
}

.account {
	color: #9ea6ac;
	line-height: 1;
	font-size: 0.85rem;
}
