div {
	overflow: auto;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.base {
	display: flex;
	margin: 5px 2px 0;
	width: 400px;
	height: 100vh;
	overflow-y: scroll;

	& h1 {
		display: inline-flex;
	}
}
