.root {
	background-color: #eee;
	padding-bottom: 30px;
}

.imgWrap {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 20px auto;
	text-align: center;
}

.info {
	text-align: center;
}

.caption {
	background-color: #fff;
	border-radius: 2px;
	margin: 10px 20px;
	padding: 10px 20px;
	line-height: 21px;
	font-size: 14px;
}
