.wrap {
	position: relative;
	height: auto;
}

.input {
	font-size: 1.1rem;
	height: 40px;
	width: 100%;
	border: 0;
	margin-top: 10px;
	border-radius: 3px;
	padding-left: 1rem;
	box-sizing: border-box;
}

.field {
	position: relative;
	max-width: 400px;
	margin-bottom: 5px;
}

.icon {
	position: absolute;
	top: 1rem;
	left: 0.5rem;
	width: 1.5rem;
	height: 1.5rem;
}

.popup {
	height: calc(100% - 50px);
	padding: 1px;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.1);
	overflow-y: scroll;
	margin: 0;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
