.wrap {
	min-width: 300px;
	min-height: 200px;
}

.top {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.topRight {
	display: flex;
	align-items: flex-end;
}

.images {
	padding: 0;
	margin: 0;
	display: flex;
}
