.wrap {
	width: 100%;
}

.base {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.wrap header {
	position: relative;;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	z-index: 200;
	text-align: center;
	color: #e1e8ed;
	background: #292f33;
	width: 100%;
}

.content {
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100% - 50px);
}

.title {
	font-size: 1.5rem;
}
